.btnInUp,
.btnOut,
.btnAdd,
.btnDone,
.btnClean {
    background: none;
    color: var(--color);
    opacity: .7;
    border: 3.5px solid;
    border-radius: 6px;
    font-weight: 500;
    margin: 1.5rem;
    padding: .5rem 3rem;
    box-shadow: 0 .5em 1em -.3em rgba(#fff, .3);
    transition: all .1s ease;
    &:active {
        transform: translateY(.2em);
        box-shadow: inset 0em 0.1em .1em 0 var(--color), 0 0.6em .5em -.7em var(--color);
        color: var(--color);
        opacity: 1
    }
}

.btnInUp {
    padding: 1rem 10rem;
    @media (max-width: 576px) {
        width: 100%;
    }
    &:active {
        box-shadow: inset 0em 0.1em .1em 0 #ffffff, 0 0.6em .5em -.7em #fff;
    }
}

.btnDone {
    padding: .1rem 2rem
}
.btnAdd,.btnClean {
    margin-left: 0
}

$colors:(btnOut: #f5ccca, btnInUp: #fff, btnAdd: #8fc866, btnDone: #3a7f91, btnClean:#e76d6d);
@each $button,
$color in $colors {
    .#{$button} {
        --color: #{$color};
    }
}