{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "rules": {
        "semi": [
            2,
            "never"
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-console": 0,
        "class-methods-use-this": "off",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "jsx-a11y/anchor-is-valid": [
            "off",
            {
                "components": [
                    "Link"
                ],
                "specialLink": [
                    "to"
                ]
            }
        ]
    }
}